body, html, #root, .App {
  height: 100%;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.App {
  background-image: url('./background.jpg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative; 
}

.login-container {
  padding: 40px 60px;
  /* background-color: transparent; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

h1 {
  font-size: calc(4rem + 4rem);
  margin-bottom: 100px;
  margin-top: -9.5rem; 
}

.login-heading {
  color: black;
  margin-right: 85px;
  font-size: 3.7rem;  
  margin-bottom: 120px;  
}


.blue {
  color: #4285F4;
}

.red {
  color: #DB4437;
}

.yellow {
  color: #F4B400;
}

.green {
  color: #0F9D58;
}

.input-field {
  display: block;
  width: calc(100% - 40px);
  height: 40px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 80px;
  font-size: 16px;
  /* background-color: inherit; */

}

.input-container {
  background: url('background.jpg') no-repeat center center fixed; 
 background-size: cover;
  display: flex;
  align-items: center;
  margin: 10px 0;
} 

.connect-button {
  background-color: #fbbc05;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 80px;
  font-size: 16px;
  cursor: pointer;
  width: 30%;
  height: 50px;
}

.connect-button:hover {
  background-color: #e8ab02;
}

.search-button {
  background-color: #4285F4;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 5px;
  height: 50px;
  width: 50px;
  border-radius: 80px;
}

.search-button:focus {
  outline: none;
}

.settings-button {
  padding: 10px;
  font-size: 1.5rem;
  background-color: #fbbc05; 
  color: white; 
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 20%;
  position: fixed;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%); 
}

.settings-button:hover {
  background-color: #e8ab02; 
}

.results-container, .update-container {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 20px;
  margin-top: 10px;
  width: calc(100% + 80px); 
  max-height: 400px; 
  overflow-y: auto;   
  margin-left: -60px;
  
}

.results-header, .search-result {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* .results-header {
  font-weight: bold;
} */

.search-result {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  padding: 5px 0;
}


.url {
  text-align: left;
}

.occurrences {
  text-align: right;
}


/* .occurrences, .update-now-button, .delete-button {
  flex: 1;
  margin-left: 10px;
} */

.update-button {
  background-color: #34A853;
  color: white;
border: none;
font-size: 1.5rem;
cursor: pointer;
margin-left: 5px;
height: 50px;
width: 50px;
border-radius: 80px;
}

.update-container {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 20px;
  margin-top: 10px;
  width: calc(100% + 80px); 
max-height: 200px; 
overflow-y: auto;  
margin-left: -60px;
}

.update-now-button {
  background-color: #4285F4;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  height: 30px;
  border-radius: 15px;
  padding: 0 10px;
}

.delete-button {
  background-color: #DB4437;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  height: 30px;
  border-radius: 15px;
  padding: 0 10px;
}
